
.container{
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header, footer{
    width: 100%;
    background-color: rgb(120, 0, 46);
    font-size: 150%;
    font-weight: 600;
    padding: 5px;
}


main{
    width: 60%;
    height: 322px;
    text-align: left;
    background-color: snow;
    font-family: OliverDrab, 'Times New Roman', serif;
}

menu{
    background-color: rgb(173,20,87);
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 0;
}

menu a{
    color: rgb(201, 201, 0);
    margin: 0;
    padding: 0;
}

main div{
    color: rgb(67, 146, 14);
}

main div h2{
    text-align: center;
}

main menu img{
    width: 80px;
}


table, tr, td, th{
    border: 1px green solid;
    font-size: 20px;
    padding: 5px;
    height: max-content;
}

tr{
    border: none;
}

.table1{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 239px;
    align-items: center;
}


aside{
    width: 40%;
    height: 322px;
    background-color: rgb(173,20,87);
}

aside img{
    margin: 40px;
    padding: 10px;
}

aside img:hover{
    border: 1px dotted yellowgreen;
}

header h1, footer p{
    display: flex;
    justify-content: center;
}